.navbar {
  height: 80px;
  padding: 10px;
  /* background-color: transparent; */
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

#wish-nav,
#cart-nav {
  background-color: #f8f9fa;
}

#wish-nav:hover {
  color: #c51104;
}

#cart-nav:hover {
  color: #ee6631;
}
