<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light box-shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-dark" routerLink="/">
      <span class="text-danger">FIXED</span>Price
    </a>
    <ul class="navbar-nav navbar-right ml-auto">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#authenticationModal"
          id="login-btn"
          (click)="callForm()"
          onclick="this.blur()"
        >
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
      </li>

      <li *ngIf="isLoggedIn" class="navbar-item d-none d-sm-inline-block">
        <a
          routerLink="/history"
          class="btn btn-dark text-white mr-2"
          onclick="this.blur()"
        >
          <i class="fas fa-history"></i> Past Orders
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="navbar-item d-none d-sm-inline-block">
        <div class="btn-group">
          <a
            [routerLink]="[wishCount && wishCount > 0 ? '/wishlist' : '/']"
            class="btn"
            id="wish-nav"
            onclick="this.blur()"
          >
            <i class="fas fa-heart"></i>
            <span *ngIf="wishCount >= 0"> | {{ wishCount }} </span>
          </a>
          <a
            [routerLink]="[cartCount && cartCount > 0 ? '/cart' : '/']"
            class="btn mr-2"
            id="cart-nav"
            onclick="this.blur()"
          >
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="cartCount >= 0"> | {{ cartCount }} </span>
          </a>
        </div>
      </li>
      <li *ngIf="isLoggedIn" class="navbar-item">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-success mr-2 rounded"
            data-toggle="modal"
            data-target="#productModal"
            onclick="this.blur()"
            *ngIf="userRole === 'admin'"
            (click)="productFormReset()"
          >
            +
          </button>
          <button
            (click)="onLogOut()"
            class="btn btn-danger text-white rounded"
            onclick="this.blur()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div
  class="container-fluid fixed-bottom bg-light d-sm-none box-shadow p-0 m-0"
  *ngIf="isLoggedIn"
>
  <div class="btn-group w-100 h-100">
    <a
      routerLink="/history"
      class="btn btn-dark text-white rounded-0"
      onclick="this.blur()"
    >
      <i class="fas fa-history"></i>
    </a>
    <a
      [routerLink]="[wishCount && wishCount > 0 ? '/wishlist' : '/']"
      class="btn btn-dark rounded-0 text-white"
      id="wish-nav"
      onclick="this.blur()"
    >
      <i class="fas fa-heart"></i>
      <span *ngIf="wishCount >= 0"> | {{ wishCount }} </span>
    </a>
    <a
      [routerLink]="[cartCount && cartCount > 0 ? '/cart' : '/']"
      class="btn btn-dark rounded-0 text-white"
      id="cart-nav"
      onclick="this.blur()"
    >
      <i class="fas fa-shopping-cart"></i>
      <span *ngIf="cartCount >= 0"> | {{ cartCount }} </span>
    </a>

    <button
      class="btn btn-light rounded-0"
      (click)="scrollToElement()"
      *ngIf="scrollTopBtn"
      onclick="this.blur()"
    >
      <i class="far fa-arrow-alt-circle-up"></i>
    </button>
  </div>
</div>
