<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: peachpuff;"><b><i>FixedPrice.com</i></b></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Category</a></li>
        <li><a routerLink="/products/add">Add</a></li>
        <li><a routerLink="/products/update">Update</a></li>
        <li><a routerLink="/products/delete">Delete</a></li>
        <li><a routerLink="/products/search">Search</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn$"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!isLoggedIn$"><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="isLoggedIn$"><a  routerLink="{{cartUrl}}"><span class="glyphicon glyphicon-shopping-cart"></span> Your Cart</a></li>
        <li *ngIf="isLoggedIn$"><a (click)="onLogOut()" style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
</nav> 

<button class="btn btn-primary">kaise ho</button>

  