<div class="list-group" id="categoriesList">
  <h3 class="text-center">CATEGORIES</h3>
  <button class="list-group-item list-group-item-action">
    Electronic
  </button>
  <button class="list-group-item list-group-item-action">
    Home & Furniture
  </button>
  <button class="list-group-item list-group-item-action">
    Sports
  </button>
  <button class="list-group-item list-group-item-action">
    Books
  </button>
  <button class="list-group-item list-group-item-action">
    Grocery
  </button>
  <button class="list-group-item list-group-item-action">
    Men
  </button>
  <button class="list-group-item list-group-item-action">
    Women
  </button>
  <button class="list-group-item list-group-item-action">
    Kids
  </button>
</div>
