<div class="container-fluid mt-4 pt-4">
  <div class="row pt-4 mt-4">
    <div class="col-12 d-flex justify-content-center">
      <div class="row w-100" *ngIf="!cartLoading">
        <div class="col-md-7 mr-sm-3 p-0" *ngIf="cart.length !== 0">
          <div class="card-columns mb-4">
            <app-cart-item
              *ngFor="let item of cart"
              [item]="item"
            ></app-cart-item>
          </div>
        </div>
        <div
          class="col-md-4 ml-sm-4 p-0 d-flex justify-content-center mb-4 pb-4"
          *ngIf="cart.length !== 0"
        >
          <div class="my-card w-100 mb-4">
            <div class="card-header" style="font-weight: bold;">
              PRICE DETAILS
            </div>
            <div
              class="card-body"
              style="border-bottom: 1px dashed rgba(0, 0, 0, 0.2);"
            >
              <div class="w-50 d-inline-block">
                <div>Price ({{ cart.length }} {{ word }})</div>
                <div>
                  Delivery Charges
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <div>₹ {{ totalCost }}</div>
                <div>
                  ₹ 50
                </div>
              </div>
            </div>
            <div class="card-footer" style="font-weight: bold;">
              <div class="w-50 d-inline-block">
                <div>
                  TOTAL AMOUNT
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <div>₹ {{ totalPayableAmount }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-loading-spinner *ngIf="cartLoading"></app-loading-spinner>
    </div>
  </div>
</div>
