<div class="card mb-3 w-100">
  <div class="row no-gutters">
    <div class="col-md-4 col-sm-3">
      <img [src]="product.imgUrl" class="card-img-top" />
    </div>
    <div class="col-md-6 h-100 col-sm-5">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.descp }}</p>
        <div class="p-0 d-flex">
          <button class="btn btn-light mr-2">₹ {{ product.price }}</button>
          <button
            class="btn"
            [ngClass]="{
              'btn-primary': product.quantity > 10 ? true : false,
              'btn-warning': product.quantity > 5 && product.quantity <= 10,
              'btn-danger': product.quantity <= 5
            }"
          >
            Stock
            <span class="badge badge-light">{{ product.quantity }}</span>
          </button>
          <div class="dropdown p-0 ml-2" *ngIf="userRole === 'admin'">
            <button
              class="btn btn-secondary"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cogs"></i>
            </button>
            <div
              class="dropdown-menu p-2 mt-2"
              aria-labelledby="dropdownMenuButton"
            >
              <button
                class="btn btn-danger d-block w-100"
                (click)="onRemoveProduct()"
              >
                X
              </button>
              <button
                class="btn btn-warning d-block mt-2 w-100"
                data-toggle="modal"
                data-target="#productModal"
                (click)="editProduct()"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-group-vertical ml-auto h-100 w-50 d-none d-md-flex">
        <a
          class="btn btn-danger rounded-0 d-flex align-items-center justify-content-center text-white"
          style="border-top-right-radius: 0.25rem !important;"
          (click)="onAddWishList()"
        >
          <i class="fas fa-heart"></i>
        </a>
        <a
          class="btn btn-warning d-flex align-items-center justify-content-center"
          (click)="onAddCart()"
        >
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a
          class="btn btn-primary rounded-0 d-flex align-items-center justify-content-center text-white"
          style="border-bottom-right-radius: 0.25rem !important;"
          (click)="onCheckOut()"
        >
          <i class="far fa-check-square"></i>
        </a>
      </div>
      <div
        class="btn-group h-100 w-100 d-md-none"
        style="height: 3rem !important;"
      >
        <a
          class="btn btn-danger rounded-0 d-flex align-items-center justify-content-center text-white"
          (click)="onAddWishList()"
        >
          <i class="fas fa-heart"></i>
        </a>
        <a
          class="btn btn-warning rounded-0 d-flex align-items-center justify-content-center"
          (click)="onAddCart()"
        >
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a
          class="btn btn-primary rounded-0 d-flex align-items-center justify-content-center text-white"
          (click)="onCheckOut()"
        >
          <i class="far fa-check-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
