<div class="card mb-3 w-100">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        [src]="item.imgUrl"
        class="card-img-top"
        width="250px"
        height="185px"
      />
    </div>
    <div class="col-md-6 h-100">
      <div class="card-body h-100">
        <h5 class="card-title" #title>{{ item.title }}</h5>
        <p>
          <span class="badge badge-light" style="font-size: medium;">
            ₹ {{ item.price }} / item
          </span>
        </p>
        <p>Quantity Purchased: {{ item.quantity }}</p>
      </div>
    </div>
  </div>
</div>
