.col-12 {
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("../../assets/header-bg.jpg");
}

label {
  padding: 0.35rem;
  background-color: #343a40;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
}

.form-control {
  padding: 10px;
  height: fit-content;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control:focus {
  box-shadow: none;
}

.input-group-text {
  background-color: white;
  color: #000000;
}
