<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6 mx-auto text-white text-center">
            <h3>
              Find the BEST Shopping Deals
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center">
            <div class="w-100 p-3">
              <label
                for="search"
                class="d-inline-block text-white m-0 px-3 mt-1"
              >
                Start Your Search
              </label>
              <div class="w-100 bg-dark p-3">
                <button type="button" class="btn-search-icon">
                  <i class="fa fa-search"></i>
                </button>
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="Realme X"
                />
                <button type="button" class="btn-search">Search Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
